*{
    font-family: 'Times New Roman', Times, serif;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #ff6347, #87cefa);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    padding: 40px; /* Aumentar el relleno */
    border-radius: 5px;
    width: 60%; /* Ajustar el ancho del formulario */
    max-width: 500px; /* Establecer un ancho máximo */
    margin: 0 auto; /* Centrar horizontalmente */
    font-size: 24px;
}




input[type="number"] {
    width: 100%; /* Hacer que el campo de número ocupe todo el ancho */
    margin-bottom: 20px; /* Aumentar el margen inferior */
    padding: 10px; /* Aumentar el relleno */
    box-sizing: border-box; /* Incluir el relleno en el ancho */
    font-size: 16px; /* Tamaño de fuente */
    border-radius: 5px; /* Añadir bordes redondeados */
    border: 1px solid #ccc; /* Añadir un borde */

}

button, a {
    width: 100%; /* Hacer que todos los botones tengan el mismo ancho */
    margin-bottom: 10px; /* Espacio entre botones */
    padding: 10px; /* Ajustar el relleno */
    box-sizing: border-box; /* Incluir el relleno en el ancho */
    text-align: center; /* Centrar el texto */
    text-decoration: none; /* Quitar subrayado en enlaces */
    border: none; /* Quitar bordes */
    border-radius: 5px; /* Añadir bordes redondeados */
    background-color: #fff; /* Color de fondo */
    color: #000; /* Color de texto */
    font-size: 20px; /* Tamaño de fuente */
}

a button {
    display: block; /* Hacer que el botón dentro de <a> sea de bloque */
    
}

button:hover{
    background: #233270;
    color: white;
}

a:hover{
    background: #233270;
    color: white;
}